 <main>
    <h1 class="encabezado">MINI STORE</h1>
    <section id="sandalias" class="sandalias"></section>
    <template id="sandalia-template">
        <figure class="sandalia">
            <img>
            <figcaption></figcaption>
        </figure>
    </template>
</main>




